LEADER_URL=http://localhost:9200
FOLLOWER_URL=http://localhost:9201
CCR_INDEX=rag_data
CCR_ALIAS=leader-cluster
OPENSEARCH_URLS=http://localhost:9200,http://localhost:9201
PRODUCER_STRATEGY=auto
FAILOVER_ERRORS_THRESHOLD=3
